/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins text-zinc-900;
}

p, h1 {
  margin: 0;
}

a:-webkit-any-link {
    color: #18181B;
    cursor: pointer;
    text-decoration: none;
}

/* Button Components */
.ant-btn-color-primary {
  box-shadow: none;
}

/* Card Components */
.ant-card .ant-card-body {
    padding: 0px;
    border-radius: 0px;
}
